USE [master]
GO
/****** Object:  Database [Libros]    Script Date: 31/8/2024 5:10:04 p. m. ******/
CREATE DATABASE [Libros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hola', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hola_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hola_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libros]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 31/8/2024 5:10:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[fecha_de_nacimiento] [date] NULL,
	[numero_de_telefono] [nchar](10) NULL,
 CONSTRAINT [PK_Autor_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casa_Editorial]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casa_Editorial](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[direccion] [nvarchar](50) NULL,
	[numero_de_telefono] [nchar](10) NULL,
 CONSTRAINT [PK_Casa_Editorial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacto_de_usuario]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto_de_usuario](
	[id] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[valor] [nvarchar](50) NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Contacto_de_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devolucion]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devolucion](
	[id_prestamo] [int] NOT NULL,
	[fecha_de_devolucion] [date] NULL,
 CONSTRAINT [PK_Devolucion] PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[id] [int] NOT NULL,
	[ISBN] [nchar](9) NULL,
	[titulo] [nvarchar](100) NULL,
	[autor] [nvarchar](50) NULL,
	[casa_editorial] [nvarchar](100) NULL,
	[fecha] [date] NULL,
	[numero_de_edicion] [int] NULL,
	[id_autor] [int] NULL,
	[id_casa_editorial] [int] NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[id] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_libro] [int] NOT NULL,
	[fecha_de_inicio] [date] NULL,
	[duracion_del_prestamo] [int] NULL,
 CONSTRAINT [PK_Prestamo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 31/8/2024 5:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NOT NULL,
	[primer_nombre] [nvarchar](50) NULL,
	[segundo_nombre] [nvarchar](50) NULL,
	[primer_apellido] [nvarchar](50) NULL,
	[segundo_apellido] [nvarchar](50) NULL,
	[fecha_de_nacimiento] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Autor] ([id], [nombre], [fecha_de_nacimiento], [numero_de_telefono]) VALUES (1, N'Miguel de Cervantes', CAST(N'1547-09-29' AS Date), N'6001234567')
INSERT [dbo].[Autor] ([id], [nombre], [fecha_de_nacimiento], [numero_de_telefono]) VALUES (2, N'Gabriel García Márquez', CAST(N'1927-03-06' AS Date), N'6012345678')
INSERT [dbo].[Autor] ([id], [nombre], [fecha_de_nacimiento], [numero_de_telefono]) VALUES (3, N'Carlos Ruiz Zafón', CAST(N'1964-09-25' AS Date), N'6023456789')
GO
INSERT [dbo].[Casa_Editorial] ([id], [nombre], [direccion], [numero_de_telefono]) VALUES (1, N'Editorial Planeta', N'Calle Gran Vía 28, Madrid, España', N'910123456 ')
INSERT [dbo].[Casa_Editorial] ([id], [nombre], [direccion], [numero_de_telefono]) VALUES (2, N'Editorial Sudamericana', N'Av. Santa Fe 1600, Buenos Aires, Argentina', N'1156789123')
INSERT [dbo].[Casa_Editorial] ([id], [nombre], [direccion], [numero_de_telefono]) VALUES (3, N'Editorial SM', N'Paseo de la Castellana 163, Madrid, España', N'910987654 ')
GO
INSERT [dbo].[Contacto_de_usuario] ([id], [id_usuario], [valor], [descripcion]) VALUES (1, 1, N'carlos.andres@gmail.com', N'email')
INSERT [dbo].[Contacto_de_usuario] ([id], [id_usuario], [valor], [descripcion]) VALUES (2, 1, N'829-555-1234', N'telefono')
INSERT [dbo].[Contacto_de_usuario] ([id], [id_usuario], [valor], [descripcion]) VALUES (3, 2, N'maria.elena@gmail.com', N'email')
GO
INSERT [dbo].[Devolucion] ([id_prestamo], [fecha_de_devolucion]) VALUES (1, CAST(N'2024-01-15' AS Date))
INSERT [dbo].[Devolucion] ([id_prestamo], [fecha_de_devolucion]) VALUES (2, CAST(N'2024-01-24' AS Date))
INSERT [dbo].[Devolucion] ([id_prestamo], [fecha_de_devolucion]) VALUES (3, CAST(N'2024-01-12' AS Date))
GO
INSERT [dbo].[Libro] ([id], [ISBN], [titulo], [autor], [casa_editorial], [fecha], [numero_de_edicion], [id_autor], [id_casa_editorial]) VALUES (1, N'123456789', N'El Quijote', N'Miguel de Cervantes', N'Editorial Planeta', CAST(N'2005-04-15' AS Date), 1, 1, 1)
INSERT [dbo].[Libro] ([id], [ISBN], [titulo], [autor], [casa_editorial], [fecha], [numero_de_edicion], [id_autor], [id_casa_editorial]) VALUES (2, N'987654321', N'Cien Años de Soledad', N'Gabriel García Márquez', N'Editorial Sudamericana', CAST(N'1995-06-20' AS Date), 3, 2, 2)
INSERT [dbo].[Libro] ([id], [ISBN], [titulo], [autor], [casa_editorial], [fecha], [numero_de_edicion], [id_autor], [id_casa_editorial]) VALUES (3, N'159753486', N'La Sombra del Viento', N'Carlos Ruiz Zafón', N'Editorial Planeta', CAST(N'2001-03-12' AS Date), 2, 3, 1)
GO
INSERT [dbo].[Prestamo] ([id], [id_usuario], [id_libro], [fecha_de_inicio], [duracion_del_prestamo]) VALUES (1, 25, 10, CAST(N'2024-01-01' AS Date), 14)
INSERT [dbo].[Prestamo] ([id], [id_usuario], [id_libro], [fecha_de_inicio], [duracion_del_prestamo]) VALUES (2, 18, 2, CAST(N'2024-01-03' AS Date), 21)
INSERT [dbo].[Prestamo] ([id], [id_usuario], [id_libro], [fecha_de_inicio], [duracion_del_prestamo]) VALUES (3, 1, 50, CAST(N'2024-01-05' AS Date), 7)
GO
INSERT [dbo].[Usuario] ([id], [primer_nombre], [segundo_nombre], [primer_apellido], [segundo_apellido], [fecha_de_nacimiento]) VALUES (1, N'Carlos', N'Andrés', N'García', N'López', CAST(N'1985-02-14' AS Date))
INSERT [dbo].[Usuario] ([id], [primer_nombre], [segundo_nombre], [primer_apellido], [segundo_apellido], [fecha_de_nacimiento]) VALUES (2, N'María', N'Elena', N'Pérez', N'Martínez', CAST(N'1990-06-23' AS Date))
INSERT [dbo].[Usuario] ([id], [primer_nombre], [segundo_nombre], [primer_apellido], [segundo_apellido], [fecha_de_nacimiento]) VALUES (3, N'Juan', N'José', N'Rodríguez', N'González', CAST(N'1988-08-11' AS Date))
GO
ALTER TABLE [dbo].[Contacto_de_usuario]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_de_usuario_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Contacto_de_usuario] CHECK CONSTRAINT [FK_Contacto_de_usuario_Usuario]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Autor] FOREIGN KEY([id_autor])
REFERENCES [dbo].[Autor] ([id])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Autor]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Casa_Editorial] FOREIGN KEY([id_casa_editorial])
REFERENCES [dbo].[Casa_Editorial] ([id])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Casa_Editorial]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Devolucion] FOREIGN KEY([id])
REFERENCES [dbo].[Devolucion] ([id_prestamo])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Devolucion]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
USE [master]
GO
